.projects {
  width: 100%;

  .heading-lv1 {
    margin: 20px 0
  }

}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  width: calc(50% - 10px);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;

  @media (max-width: 500px) {
    width: 100%;
  }

}

.project-name {
  color: secondary-color;
  margin: 0;
  font-weight: 300;
}

.project-star {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.project-star-count {
  color: secondary-color;
  margin-left: 5px;
}

.project-description {
  color: secondary-color;
  width: 100%;
  margin: 10px 0 0 0;
}
