extends ./layouts/default.pug

block content
  div.profile
    img(srcset="assets/img/anime-avatar-1x.png 1x, assets/img/anime-avatar-2x.png 2x" src="assets/img/anime-avatar-1x.png" class="profile-img" alt="Anime avatar")
    h1.heading-lv1 Karoline Alencar
    p.paragraph Olá meu nome é Karoline, tenho 20 anos e sou TOPPER.
